name: Node 20 CI/CD (Ubuntu)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20

    - name: Install dependencies
      run: |
        cd my-app
        npm install

    - name: Build app
      run: |
        cd my-app
        npm run build

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ubuntu
        key: ${{ secrets.EC2_KEY }}
        script: |
          cd /home/ubuntu/varahanarasimha-portfolio/my-app
          git pull origin main
          npm install
          npm run build
          pm2 restart my-app || pm2 start npm --name "my-app" -- start
